@import url(./materialize.min.css);
@import url(./googlecode.css);

@font-face {
    font-family: "FiraMono";
    src: url(../font/fira-sans/FiraMono-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "FiraMono";
    src: url(../font/fira-sans/FiraMono-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "FiraSans";
    src: url(../font/fira-sans/FiraSans-Thin.ttf);
    font-weight: 200;
}
@font-face {
    font-family: "FiraSans";
    src: url(../font/fira-sans/FiraSans-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "FiraSans";
    src: url(../font/fira-sans/FiraSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "FiraSans";
    src: url(../font/fira-sans/FiraSans-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "FiraSans";
    src: url(../font/fira-sans/FiraSans-Bold.ttf);
    font-weight: 700;
}

@media only screen and (min-width: 0px) {
    nav a.button-collapse {
        margin: 0 24px;
    }
}

@media only screen and (max-width : 640px) {
    .container {
        width:100%;
    }
}

@media only screen and (min-width : 993px) {
    .container {
        margin-left: 240px;
    }
}

html {
    font-family: "FiraSans", "Roboto", "sans-serif";
    line-height: 24px;
}

body, main {
    background-color: #f9f9f9;
}

code, .mono {
    font-family: "FiraMono", monospace;
}

.container {
    max-width: 760px;
}

header ul.side-nav.fixed li {
    font-weight: bold;
}
header ul.side-nav.fixed li.logo {
    border-bottom: 1px solid #ddd;
}
header ul.side-nav.fixed li.logo a {
    font-size: 2.1rem;
    color: rgba(0, 0, 0, 0.87);
    line-height: 64px;
}
header ul.side-nav.fixed li.logo a span.muted {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.54);
    line-height: 24px;
}
header ul.side-nav.fixed li a {
    line-height: 44px;
    font-size: 13px;
}

nav.top-nav {
    background-color: #2196F3;
}
nav span.header-title {
    font-size: 24px;
    line-height: 64px;
}

footer.page-footer {
    background-color: #2196F3;
    color: rgba(255, 255, 255, 0.8);
}
footer.page-footer .footer-copyright {
    background-color: #1976D2;
}
footer a {
    color: rgba(255, 255, 255, 0.6);
}
footer a:active, footer a:hover {
    color: rgba(255, 255, 255, 0.9);
}
